*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@media screen and (max-width: 1680px) {
  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }
}

body {
  background-color: rgb(216, 238, 247);
  line-height: 1;
  font-family: "Open Sans", sans-serif;
  font-size: 13pt;
  color: #696969;
  font-weight: 300;
  line-height: 2.25em;
  -webkit-text-size-adjust: none;
  display: block;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444;
  font-weight: 800;
}

/******** Container *********/

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 1400px;
}

@media screen and (max-width: 1680px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 980px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 736px) {
  .container {
    width: 90%;
  }
}

/**************** HEADER ******************/
#header-wrapper {
  padding: 2em 0 3em 0;
  margin: 0;
  border: 0;
  font: inherit;
  box-sizing: inherit;
}

#header {
  position: relative;
  align-items: center;
}

#logo {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

#logo h1 {
  display: inline-block;
  vertical-align: middle;
  margin: 0em;
}

#logo img {
  cursor: pointer;
  max-width: 150px;
}

#logo span {
  font-weight: 800;
  line-height: 4.5em;
  letter-spacing: 0.025em;
  font-size: 0.9em;
  vertical-align: middle;
  margin: 0 0 0 1.25em;
}

#nav {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.9em;
  display: block;
}

#nav ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 2em;
}

#nav ul li {
  float: left;
  line-height: 4.5em;
  padding-left: 1.5em;
}

.menu-déroulant {
  display: none;
}

#nav ul li.current a {
  background: #00614a;
  color: #fff;
}

#nav ul li a,
#nav ul li span {
  -moz-transition: background-color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out;
  -ms-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
  font-weight: 800;
  letter-spacing: 0.025em;
  color: #696969;
  text-decoration: none;
  border-radius: 6px;
  padding: 0.5em 1em 0.5em 1em;
}

.dropotron {
  background: #fff;
  letter-spacing: 0.025em;
  color: #696969;
  text-decoration: none;
  border-radius: 6px;
  padding: 0.75em 0;
  padding-left: 0px;
  min-width: 15em;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1),
    0 0.25em 0.25em 0.1em rgba(0, 0, 0, 0.025);
  margin-top: calc(-0.75em + 1px);
  margin-left: -1px;
  list-style: none;
  padding-left: 0;
}

/**************** BANNER ******************/
#banner {
  position: relative;
  padding: 4.5em;
}

.box {
  background: #fff;
  border-radius: px;
  box-shadow: 0px 3px 0px 0px rgb(0 0 0 / 5%);
  padding: 2em;
}

@media screen and (max-width: 1680px) {
  .row {
    margin-top: -40px;
    margin-left: -40px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
  }

  .row > * {
    padding: 40px 0 0 40px;
    box-sizing: border-box;
  }
}

.row > .col-7 {
  width: 58.33333%;
  font-size: 1.6em;
}

.row > .col-5 {
  width: 41.66667%;
}

#banner ul {
  list-style: none;
  padding-left: 0;
  margin: 0 0 0 2em;
}

#banner ul li {
  padding-left: 0;
}

#banner .button {
  width: 100%;
  margin-bottom: 0.5em;
  padding: 15px;
  font-size: 1.8em;
  font-weight: 800;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  background: #00614a;
  border-radius: 6px;
}

@media screen and (max-width: 1281px) {
  #banner .button {
    font-size: 1.5em;
  }
}

/**************** CORP ******************/
#features-wrapper {
  padding: 1em 0 3em 0;
}

.title1 {
  text-align: center;
  border: solid 2px #00614a8c;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.row > .col-4 {
  width: 50%;
}

.row > .col-4-1 {
  width: 33%;
}

.box.feature {
  padding: 0;
}

section,
article {
  margin-bottom: 5em;
}

.box.feature .image {
  position: relative;
  margin: 0;
}

.image.featured {
  display: block;
  width: 100%;
  margin: 0 0 2.5em 0;
}

.image {
  display: inline-block;
  outline: 0;
}

a {
  color: #0090c5;
  text-decoration: underline;
}

.box.feature .image img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.image img {
  display: block;
  width: 100%;
  border-radius: px;
}

.box.feature .inner {
  padding: 2em 2em 2em 2em;
}

section > :last-child,
article > :last-child,
section:last-child,
article:last-child {
  margin-bottom: 0;
}

header {
  margin: 0 0 2em 0;
}

header h2,
header h3 {
  margin: 0 0 0.15em 0;
}

.box.feature h2 {
  font-size: 1.35em;
  color: #ff5520;
}

.box.feature p {
  margin: 0;
  line-height: normal;
}

h2 {
  line-height: 1em;
}

/******************CCM***************/
.title2 {
  text-align: center;
  border: solid 2px #00614a8c;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.ccm {
  display: flex;
  margin-right: -30px;
}

.boxccm {
  margin-right: ;
}

.boxccm section {
  width: 90%;
  background-color: #69696973;
}

.boxccm img {
  width: 100%;
}

/******************Main***************/

#main-wrapper {
  background: #fff;
  box-shadow: 0px 3px 0px 0px rgb(0 0 0 / 5%);
  padding: 5em 0 5em 0;
}

@media screen and (max-width: 1680px) {
  .row.gtr-200 {
    margin-top: -80px;
    margin-left: -80px;
  }

  .row.gtr-200 > * {
    padding: 80px 0 0 80px;
  }

  .row.gtr-50 {
    margin-top: -20px;
    margin-left: -20px;
  }

  .row.gtr-50 > * {
    padding: 10px 0 0 20px;
  }
}

.widget.thumbnails .grid {
  margin: 0 0 2em 0;
}

.row.gtr-50 {
  margin-top: -20px;
  margin-left: -20px;
}

.row > .col-6 {
  width: 50%;
}

.row > .col-8 {
  width: 66.66667%;
}

.btn-offre{
  text-align: center;
  padding-bottom: 2em;
  border-bottom: solid 1px #00614a8a;
}

.button-offre {
  padding: 0.2em 1.5em;
  font-size: 1.35em;
  font-weight: 800;
  color: #ffffff;
  text-decoration: none;
  background: #00614a;
  border-radius: 6px;
}

.button.more {
  margin-bottom: 0.5em;
  padding: 0.2em 1.5em;
  font-size: 1.35em;
  font-weight: 800;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  background: #00614a;
  border-radius: 6px;
}

/******************Footer***************/
#footer-wrapper {
  padding: 6em 0 8em 0;
}

#footer {
  margin-top: 0;
}

footer {
  margin: 2.5em 0 0 0;
}

.propos {
  text-align: center;
}

.row > .col-3 {
  width: 25%;
}

h3 {
  font-size: 1.35em;
  margin: 0 0 1em 0;
}

ul.style2 {
  list-style: none;
  padding-left: 0;
}

.row > .col-12 {
  width: 100%;
}

#copyright {
  color: #aaa;
  text-align: center;
}

ul.menu {
  list-style: none;
  padding-left: 0;
}

ul.menu li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

ul.menu li {
  border-left: solid 1px #aaa;
  display: inline-block;
  padding: 0 0 0 0.75em;
  margin: 0 0 0 0.75em;
}

ul.menu a {
  /**  text-decoration: none;
  color: #aaa; **/
}

#top.on {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

#top i {
  font-size: 10px;
}

#top {
  display: block;
  visibility: hidden;
  position: fixed;
  transform: translateX(-25px);
  right: 0;
  bottom: 20px;
  margin: 0;
  width: 40px;
  height: 40px;
  font-size: 24px;
  line-height: 40px;
  opacity: 0;
  z-index: 10000;
  border-top-left-radius: 3px;
  color: #fff;
  text-align: center;
  -webkit-box-shadow: 0px 14px 47px 0px rgba(28, 28, 28, 0.24);
  -moz-box-shadow: 0px 14px 47px 0px rgba(28, 28, 28, 0.24);
  box-shadow: 0px 14px 47px 0px rgba(28, 28, 28, 0.24);
  background-color: #00614a;
  box-sizing: border-box;
  transform: translateY(100px);
  -webkit-transition: opacity 0.2s ease-out, visibility 0.2s ease-out,
    color 0.2s ease-out, background-color 0.2s ease-out, right 0.1s ease-out,
    transform 0.4s ease-out;
  -moz-transition: opacity 0.2s ease-out, visibility 0.2s ease-out,
    color 0.2s ease-out, background-color 0.2s ease-out, right 0.1s ease-out,
    transform 0.4s ease-out;
  transition: opacity 0.2s ease-out, visibility 0.2s ease-out,
    color 0.2s ease-out, background-color 0.2s ease-out, right 0.1s ease-out,
    transform 0.4s ease-out;
}

/**************** ECRAN TAB */

@media screen and (max-width: 980px) {
  html,
  body {
    overflow-x: hidden;
  }

  body,
  input,
  select,
  textarea {
    font-size: 11pt;
  }

  #header-wrapper {
    padding: 3em 0 1em 0;
    text-align: center;
  }

  /******************HEADER***************/
  #header {
    margin: 0 auto;
  }

  #logo span {
    display: block;
    margin: 0;
  }

  #nav {
    padding: 0;
  }

  .menu-déroulant {
    display: block;
    position: absolute;
    top: 20px;
    right: 2px;
    width: 40px;
  }

  .nav-links {
    position: absolute;
    background-color: #ff54203e;
    backdrop-filter: blur(5px);
    left: -350px;
    height: 80vh;
    transition: all 0.5s ease;
  }

  .nav-links.menu-mobile {
    margin-left: 400px;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    width: 350px;
  }

  .nav-links ul li {
    margin: -10px;
  }

  /******************BANNER***************/
  #banner {
    position: inherit;
    padding: 4.5em 3em;
    text-align: center;
  }

  #banner .button {
    font-size: 1.8em;
  }

  /**************CORPS***************/

  .title1,
  .title2 {
    font-size: 1.2em;
  }

  .row {
    margin-top: -25px;
    margin-left: -25px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
  }

  .row > .col-12-medium {
    width: 100%;
  }

  .row > .col-10-medium {
    width: 50%;
  }

  .row > * {
    padding: 25px 0 0 25px;
    box-sizing: border-box;
  }

  #banner ul {
    margin: 0 0 0 0;
  }

  /*****MAIN*******/
  .row.gtr-200 {
    margin-top: -80px;
    margin-left: -80px;
  }

  .row.gtr-200 > * {
  }

  section,
  article {
    clear: both;
  }

  .row.gtr-50 {
    margin-top: -12.5px;
    margin-left: -12.5px;
  }

  .row.gtr-50 > * {
    padding: 12.5px 0 0 12.5px;
  }

  .button.more {
    width: 100%;
    text-align: center;
    font-size: 1.35em;
    padding: 0.2em 0 !important;
  }

  .row > .imp-medium {
    order: -1;
  }

  #content {
    border-bottom: solid 1px #e8e8e8;
    padding-bottom: 4em;
    margin-bottom: 0 !important;
  }

  h2 {
    font-size: 2.1em;
    margin: 0 0 1.1em 0;
    line-height: 1em;
  }

  .row > .col-6 {
    width: 25%;
  }

  /*****FOOTER*******/
  .row > .col-6-medium {
    width: 50%;
  }

  .row > * {
    padding: 25px 0 0 25px;
  }

  ul.menu li {
    display: block;
    border: 0;
    padding: 0;
    margin: 0;
  }
}

/**************** ECRAN MINI TAB */

@media screen and (max-width: 736px) {
  /* Basic */

  body,
  input,
  select,
  textarea {
    line-height: 2em;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 13pt;
    margin: 0 0 1em 0;
  }

  /* Section/Article */

  section,
  article {
    clear: both;
    margin-bottom: 3em !important;
  }

  section.last,
  article.last {
    margin-bottom: 0 !important;
  }

  /* Image */

  .image.left {
    width: 25%;
    margin-bottom: 2em !important;
  }

  /* Menu */

  ul.menu li {
    display: block;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  /* Actions */

  ul.actions li {
    display: block;
    padding: 0;
    margin: 1em 0 0 0;
  }

  ul.actions li:first-child {
    margin-top: 0;
  }

  /* Button */

  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  button,
  .button {
    width: 100%;
    text-align: center;
    font-size: 1.25em !important;
    padding: 0.65em 0 !important;
  }

  input[type="button"].icon,
  input[type="submit"].icon,
  input[type="reset"].icon,
  button.icon,
  .button.icon {
    padding-right: 0.75em !important;
  }

  input[type="button"].icon:before,
  input[type="submit"].icon:before,
  input[type="reset"].icon:before,
  button.icon:before,
  .button.icon:before {
    margin-right: 0.5em;
    top: 0.05em;
  }

  /* Box */

  .box {
    padding: 15px 15px 15px 15px;
    margin: 0;
  }

  .box.feature {
    margin: 20px 0 0 0 !important;
    padding: 0;
  }

  .box.feature .inner {
    padding: 30px 15px 30px 15px;
  }

  .box.feature p {
    margin: 0;
  }

  .box.feature .image {
    position: relative;
    margin: 0;
  }

  .box.feature .image img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  /* Widgets */

  .widget.thumbnails .image {
    margin: 0;
  }

  .widget.thumbnails .x {
    padding: 1em 0.5em 0 0;
  }

  .widget.thumbnails .y {
    padding: 1em 0 0 0.5em;
  }

  /* Wrappers */

  #banner-wrapper {
    padding: 0 15px 0 15px;
  }

  #features-wrapper {
    padding: ;
  }

  #main-wrapper,
  #footer-wrapper {
    padding: 40px 30px 40px 30px;
  }

  /* Banner */

  #banner {
    text-align: center;
    padding: 15px 15px 15px 15px;
    margin: 0 auto !important;
  }

  #banner h2 {
    font-size: 2em;
    margin: 0.75em 0 0.5em 0;
  }

  #banner p {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0;
  }

  #banner ul {
    margin: 0;
  }

  #banner .button {
    margin: 0 0 1em 0;
  }

  /* Content */

  #content {
    padding-bottom: 3em;
  }

  .button-offre{
    font-size: 1.25em;
  }

  /* Footer */

  #footer section {
    border-bottom: solid 1px #ccc;
    padding-bottom: 3em;
    margin-bottom: 1em !important;
  }

  #copyright {
    text-align: center;
  }
}

/**************** ECRAN MOBILE */

@media screen and (max-width: 480px) {

  #banner p{
    font-size: inherit;
  }

  #banner h2{
    font-size: 1.2em;
  }

  .row > .col-10-medium {
    width: 100%;
  }

  .ccm{
    display: block;
    margin: inherit;
  }

  .boxccm section{
    width: 100%;
  }

  .row > .col-6{
    width: 50%;
  }

  

}
